/*css-begin*/
*{
    margin: 0;
    padding: 0; }
html, body{
    width: 100%;
    height: 100%;
    background-color: #12171a;
}
.containers{
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.containers .page{
    /*margin-top: 1.706667rem;*/
    height: 100%;
    background: url("../../images/page.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page.page-home{
    background: url("../../images/page-home.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title{
    width: 8.173333rem;
    height: 1.973333rem;
    margin: 0.15rem auto;
    text-align: center;
}
.containers .page .title .title-content{
    display: inline-block;
    height: 1.973333rem;
    position: relative;
    left: -0.5rem;
}
.containers .page .title .title-content h3{
    float: left;
    color: #d3fffe;
    font-size: 22px;
    font-family: "Î¢ÈíÑÅºÚ";
    text-align: left;
    line-height: 1.973333rem;
}
.containers .page .title .title-content span{
    float: left;
    display: block;
    width: 1.973333rem;
    height: 1.973333rem;
}
.containers .page .title .title-content p{
    width: 90%;
    height: 2px;
    background-color: #81f8f8;
    box-shadow: 0 0 5px rgba(129,248,248,.7);
    position: relative;
    left: 0.973333rem;
    bottom: 0.35rem;
    clear: both;
}
.containers .page .title .title-1{
    background: url("../../images/1@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-2{
    background: url("../../images/2@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-3{
    background: url("../../images/3@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-4{
    background: url("../../images/4@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-5{
    background: url("../../images/5@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-6{
    background: url("../../images/6@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-7{
    background: url("../../images/7@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-8{
    background: url("../../images/8@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-9{
    background: url("../../images/9@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title .title-10{
    background: url("../../images/10@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .list-border{
    width: 9.7rem;
    height: 13.1rem;
    margin: 0 auto;
    border:1px solid #81f8f8;
    box-shadow: 0 0 5px rgba(129,248,248,.7);
    background-color: rgba(129, 248, 248, .1);
    color: #d3fffe;
    font-size: 14px;
    line-height: 21px;
}
.containers .page .list-border h4{
    padding-top: 0.5rem;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}
.containers .page .list-border ul{
    padding: 0.25rem;
}
.containers .page .list-border ul li{
    margin-bottom: 0.15rem;
}
.containers .page .list-images{
    width: 9.7rem;
    height: 12.6rem;
    margin: 0 auto;
    padding: 0.25rem 0;
    border:1px solid #81f8f8;
    box-shadow: 0 0 5px rgba(129,248,248,.7);
    background-color: rgba(129, 248, 248, .1);
    text-align: center;
}
.containers .page .list-images img{
    height: 100%;
}
.containers .page .list{
    width: 8.173333rem;
    margin: 0.75rem auto;
}
.containers .page .list ul li{
    clear: both;
    height: 1rem;
}
.containers .page .list ul li .list-icon{
    float: left;
    display: inline-block;
    width: 0.733333rem;
    height: 0.733333rem;
    margin-right: 0.1rem;
    background: url("../../images/dot@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .list ul li p{
    float: left;
    width: 7.3rem;
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.733333rem;
}
.containers .page .list ul li p span{
    display: inline-block;
    margin: 0 0.1rem 0 0;
    color: #b8ffff;
    font-size: 20px;
}
.containers .page .progress{
    width: 9.746667rem;
    height: 4.733333rem;
    margin: 0.25rem auto;
    background: url("../../images/progress@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .charts{
    width: 9.746667rem;
    height: 8.126667rem;
    padding-top: 0.15rem;
    margin: 0.25rem auto 0;
    border:1px solid #81f8f8;
    box-shadow: 0 0 5px rgba(129,248,248,.7);
    background-color: rgba(129, 248, 248, .1);
}
.containers .page .charts .chart-title{
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.733333rem;
    text-align: center;
    padding-top: 0.15rem;
}
.containers .page .charts .chart{
    width: 9.6rem;
    height: 6.9em;
    margin: 0 auto;
}
.containers .page .images{
    width: 9.746667rem;
    margin: 0.25rem auto 0;
}
.containers .page .images p{
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.783333rem;
}
.containers .page .images p .icon{
    float: left;
    display: inline-block;
    width: 0.733333rem;
    height: 0.733333rem;
    margin-right: 0.1rem;
    background: url("../../images/dot@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .images img{
    width: 100%;
}
.containers .page .tables{
    width: 9.746667rem;
    margin: 0 auto;
}
.containers .page .tables .table-title{
    color: #d3fffe;
    font-size: 15px;
    text-align: center;
    line-height: 0.6rem;
    height: 0.6rem;
}
.containers .page .tables table{
    color: #d3fffe;
    font-size: 15px;
    width: 100%;
    border-top: 1px solid #81f8f8;
    border-left: 1px solid #81f8f8;
}
.containers .page .tables table tr td{
    width: 25%;
    height: 0.85rem;
    text-align: center;
    border-right: 1px solid #81f8f8;
    border-bottom: 1px solid #81f8f8;
}
.containers .page .tables table tr:first-child td{
    background-color: rgba(129, 248, 248, .1);
}