/*css-begin*/
*{
    margin: 0;
    padding: 0; }
html, body{
    width: 100%;
    height: 100%;
    background-color: #12171a;
}
.containers{
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.containers .page{
    height: 100%;
    background: url("../../images/page-bg-new.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page.page-home{
    background: url("../../images/page-home-new.jpg");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title{
    width: 8.173333rem;
    height: 1.973333rem;
    margin: 0.15rem auto;
    position: relative;
    top: 0;
    left: 0;
}
.containers .page .title h3{
    color: #d3fffe;
    font-size: 28px;
    font-family: "微软雅黑";
    text-align: left;
    line-height: 1.2rem;
    margin-left: 2.133333rem;
    position: absolute;
    bottom: 0.45rem ;
}
.containers .page .title-1{
    background: url("../../images/1@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-2{
    background: url("../../images/2@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-3{
    background: url("../../images/3@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-4{
    background: url("../../images/4@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-5{
    background: url("../../images/5@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-6{
    background: url("../../images/6@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-7{
    background: url("../../images/7@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-8{
    background: url("../../images/8@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-9{
    background: url("../../images/9@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .title-10{
    background: url("../../images/10@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .list-border{
    width: 9.746667rem;
    height: 13rem;
    margin: 0 auto;
    background: url("../../images/border@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

    color: #d3fffe;
    font-size: 15px;
    line-height: 22px;
}
.containers .page .list-border h4{
    padding-top: 0.5rem;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}
.containers .page .list-border ul{
    padding: 0.25rem;
}
.containers .page .list-border ul li{
    margin-bottom: 0.15rem;
}
.containers .page .list{
    width: 8.173333rem;
    margin: 0.75rem auto;
}
.containers .page .list ul li{
    clear: both;
    height: 1rem;
}
.containers .page .list ul li .list-icon{
    float: left;
    display: inline-block;
    width: 0.733333rem;
    height: 0.733333rem;
    margin-right: 0.1rem;
    background: url("../../images/dot@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .list ul li p{
    float: left;
    width: 7.3rem;
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.733333rem;
}
.containers .page .list ul li p span{
    display: inline-block;
    margin: 0 0.1rem 0 0;
    color: #b8ffff;
    font-size: 20px;
}
.containers .page .progress{
    width: 9.746667rem;
    height: 4.733333rem;
    margin: 0.25rem auto;
    background: url("../../images/progress@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .charts{
    width: 9.746667rem;
    height: 8.126667rem;
    padding-top: 0.15rem;
    margin: 0.25rem auto 0;
    background: url("../../images/border@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .charts .chart-title{
    width: 2.56rem;
    height: 0.666667rem;
    margin: 0.1rem auto 0.25rem;
    background: url("../../images/charts-title@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .charts .chart{
    width: 9.6rem;
    height: 6.9em;
    margin: 0 auto;
}
.containers .page .charts .chart-title-font{
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.733333rem;
    text-align: center;
    padding-top: 0.15rem;
}
.containers .page .images{
    width: 9.746667rem;
    margin: 0.25rem auto 0;
}
.containers .page .images p{
    color: #d3fffe;
    font-size: 16px;
    line-height: 0.733333rem;
}
.containers .page .images p .icon{
    float: left;
    display: inline-block;
    width: 0.733333rem;
    height: 0.733333rem;
    margin-right: 0.1rem;
    background: url("../../images/dot@2x.png");
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.containers .page .images img{
    width: 100%;
}
.containers .page .tables{
    width: 9.746667rem;
    margin: 0 auto;
}
.containers .page .tables .table-title{
    color: #d3fffe;
    font-size: 15px;
    text-align: center;
    line-height: 0.6rem;
    height: 0.6rem;
}
.containers .page .tables table{
    color: #d3fffe;
    font-size: 15px;
    width: 100%;
    border-top: 1px solid #d3fffe;
    border-left: 1px solid #d3fffe;
}
.containers .page .tables table tr td{
    width: 25%;
    height: 0.85rem;
    text-align: center;
    border-right: 1px solid #d3fffe;
    border-bottom: 1px solid #d3fffe;
}
.containers .page .tables table tr:first-child td{
    background-color: rgba(255, 255, 255, .2);
}
/*.containers .page .tables table tr:last-child td{
    color: #ff4040;
    font-weight: 600;
}*/

.containers .page .images-0{
    width: 9.746667rem;
    /*height: 24rem;*/
    margin: 0.25rem auto 0;
}
.containers .page .images-0 img{
    width: 100%;
}